#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball {
    automouse-layer = <4>;
    scroll-layers = <5>;
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        muhennkann {
            bindings = <&to_layer_0 INT_MUHENKAN>;
            key-positions = <11 10>;
        };

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <24 25>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        globe_h: globe_h {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_press &kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT>, <&macro_tap &kp H>, <&macro_release &kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT>;
            label = "GLOBE_H";
        };

        globe_q: globe_q {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_press &kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT>, <&macro_tap &kp Q>, <&macro_release &kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT>;
            label = "GLOBE_Q";
        };

        globe_s: globe_s {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_press &kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT>, <&macro_tap &kp S>, <&macro_release &kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT>;
            label = "GLOBE_S";
        };

        globe_c: globe_c {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_press &kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT>, <&macro_tap &kp C>, <&macro_release &kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT>;
            label = "GLOBE_C";
        };

        globe_n: globe_n {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_press &kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT>, <&macro_tap &kp N>, <&macro_release &kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT>;
            label = "GLOBE_N";
        };

        globe_a: globe_a {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_press &kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT>, <&macro_tap &kp A>, <&macro_release &kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT>;
            label = "GLOBE_A";
        };

        globe_e: globe_e {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_press &kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT>, <&macro_tap &kp E>, <&macro_release &kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT>;
            label = "GLOBE_E";
        };

        globe_d: globe_d {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_press &kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT>, <&macro_tap &kp D>, <&macro_release &kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT>;
            label = "GLOBE_D";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W             &kp E         &kp R            &kp T                                                   &kp Y        &kp U  &lt 5 I    &kp O    &kp P
&kp A             &kp S             &kp D         &kp F            &kp G        &tog 7                      &kp MINUS      &kp H        &kp J  &kp K      &kp L    &kp SQT
&mt LEFT_SHIFT Z  &kp X             &kp C         &kp V            &kp B        &lt_to_layer_0 6 COLON      &kp SEMICOLON  &kp N        &kp M  &kp COMMA  &kp DOT  &kp SLASH
&kp LEFT_COMMAND  &kp LEFT_CONTROL  &kp LEFT_ALT  &lt 2 LC(SPACE)  &lt 1 SPACE  &lt 3 TAB                   &kp BACKSPACE  &lt 0 ENTER                             &kp DEL
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        NUM {
            bindings = <
&kp F11            &kp F12  &kp F13  &kp F14  &kp F15                                           &kp PIPE      &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PLUS
&kp F6             &kp F7   &kp F8   &kp F9   &kp F10  &kp LC(LA(KP_NUMBER_0))      &kp PERIOD  &kp EQUAL     &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp MINUS
&mt LEFT_SHIFT F1  &kp F2   &kp F3   &kp F4   &kp F5   &kp EQUAL                    &trans      &kp NUMBER_0  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp ASTERISK
&trans             &trans   &trans   &trans   &trans   &trans                       &trans      &trans                                                  &kp SLASH
            >;
        };

        KIGOU {
            bindings = <
&kp EXCLAMATION  &kp AT     &kp HASH       &kp DOLLAR      &kp PERCENT                                    &kp DOUBLE_QUOTES  &kp HASH       &kp DOLLAR        &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS
&kp CARET        &kp AMPS   &kp ASTERISK   &kp UNDERSCORE  &kp PLUS     &trans      &kp EXCLAMATION       &kp PERCENT        &kp AMPERSAND  &kp SQT           &kp LEFT_BRACKET      &kp RIGHT_BRACKET
&kp TILDE        &kp GRAVE  &kp BACKSLASH  &kp PIPE        &kp EQUAL    &trans      &kp QUESTION          &kp TILDE          &kp LESS_THAN  &kp GREATER_THAN  &kp LEFT_BRACE        &kp RIGHT_BRACE
&trans           &trans     &trans         &trans          &trans       &trans      &trans                &trans                                                                    &kp PIPE
            >;
        };

        ARROW {
            bindings = <
&kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT  &globe_q   &globe_e   &globe_s   &globe_d                         &kp ESCAPE              &kp LS(LC(TAB))     &kp UP_ARROW        &kp LC(TAB)          &kp LC(S)
&globe_a                              &globe_n   &globe_c   &globe_h   &kp LG(Z)  &trans      &trans    &kp HOME                &kp LEFT_ARROW      &kp DOWN_ARROW      &kp RIGHT_ARROW      &kp END
&kp LG(Z)                             &kp LG(X)  &kp LG(C)  &kp LG(V)  &kp LS(LG(Z))  &trans  &trans   &kp LS(LG(LEFT_ARROW))  &kp LS(LEFT_ARROW)  &kp RG(DOWN_ARROW)  &kp LS(RIGHT_ARROW)  &kp LS(LG(RIGHT_ARROW))
&trans                                &trans     &trans     &trans     &kp LG(A)  &trans      &trans    &trans                                                                               &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MB1  &mkp MB3  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        layer_6 {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                           &bt BT_SEL 0  &kp KP_N1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans        &trans        &trans        &trans        &trans        &trans      &trans       &trans        &trans     &trans        &trans        &trans
&trans        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans        &trans      &bootloader  &trans        &trans     &trans        &trans        &bt BT_CLR
&trans        &trans        &trans        &trans        &trans        &trans      &trans       &trans                                               &bt BT_CLR_ALL
            >;
        };

        layer_7 {
            bindings = <
&kp Q             &kp W         &kp E         &kp R               &kp T                                      &kp Y    &kp U  &kp I      &kp O    &kp P
&kp A             &kp S         &kp D         &kp F               &kp G        &tog 0             &kp MINUS  &kp H    &kp J  &kp K      &kp L    &kp SQT
&kp LS(Z)         &kp X         &kp C         &kp V               &kp B        &kp LS(COLON)      &kp SEMI   &kp N    &kp M  &kp COMMA  &kp DOT  &kp FSLH
&kp LEFT_CONTROL  &kp LEFT_WIN  &kp LEFT_ALT  &lt 2 LEFT_CONTROL  &lt 1 SPACE  &lt 3 TAB          &kp BSPC   &kp RET                             &kp DEL
            >;
        };
    };
};
